@{
    Layout = "~/_layout/base/_BaseMain.cshtml";
    var Title = Page.Title ?? "金银猫 - 大金融心服务";
}<!DOCTYPE html>
<html lang="zh-cn" xmlns:wb="http://open.weibo.com/wb">
<head>
    @RenderPage("~/_layout/base/_o_code.cshtml", new{ Type = "loadtime" })
    @RenderPage("~/_layout/base/_meta.cshtml")
    <title>@Title</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    @RenderSection("PageStyle", required: false)
    @if(IsSectionDefined("RequireCallback")){<script>var _require_callback = function(){@RenderSection("RequireCallback")};</script>}
    @RenderPage("~/_layout/base/_scripts.cshtml")
</head>
<body>
@RenderPage("~/_layout/base/_header.cshtml")
@RenderBody()
@RenderPage("~/_layout/base/_footer.cshtml")
</body>
</html>