@using Cat
@{
    Layout = "~/_layout/user/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/user/payment.js'></script>");
    dynamic userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
    CatHelper.UserPasswordCheck(userInfo.Data);
    string bankNo = userInfo.Data.BankCardNo;
    bankNo = bankNo.GetLast(4);
}
@RenderPage("~/_layout/user/_Silder.cshtml", new { Data = userInfo, SilderMenu = "manage" })
<script> var _Cellphone = "@userInfo.Data.Cellphone"; </script>
<div class="per-right payment-first-only">
    <div class="my-card-title clearfix">
        @RenderPage("~/_layout/user/_back_user.cshtml", new { name = "账户管理" })
    </div>
    <div class="my-card-main reset-login-only">
        <div class="card-pwd-name reset-login-title">
            <h2><em>重置交易密码</em><span>（通过首张认证银行卡、身份证、手机号）</span></h2>
        </div>
        <div class="reset-login-forms">
            <ul class="buy-step-list reset-step-1">
                <li><div id="ui-msg-info" class="ui-msg"></div></li>
                <li>
                    <label class="lab">默认银行卡卡号：</label>
                    <div class="buy-plan clearfix">
                        <input type="text" id="bankCard" maxlength="30" class="common-text input-max">
                        <div class="send-tips">请填写尾号为<i>@bankNo 的 @(userInfo.Data.CardBankName)储蓄卡</i>卡号</div>
                    </div>
                </li>
                <li>
                    <label class="lab">请填写持卡人证件号：</label>
                    <div class="buy-plan clearfix">
                        <input type="text" id="idCard" maxlength="30" class="common-text input-max">
                    </div>
                </li>
                <li>
                    <label class="lab">手机号：</label>
                    <div class="buy-plan clearfix">
                        <p class="buy-name">@CatHelper.FixCellphone(userInfo.Data.Cellphone)</p>
                    </div>
                </li>
                <li>
                    <label class="lab">短信校验码：</label>
                    <div class="buy-plan clearfix">
                        <div class="buy-code">
                            <input id="getCode" type="button" class="code-btn" value="获取校验码" /><input id="code" maxlength="6" type="text" class="common-text auth-code">
                        </div>
                        <div class="send-tips"></div>
                    </div>
                </li>
                <li>
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button class="btn-common ui-action" id="validBtn" data-action="reset-payment1">下一步</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>








