@using Cat
@{
    Layout = "~/_layout/user/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/user/payment.js'></script>");
    NyanyaWebData userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
    CatHelper.UserPasswordCheck(userInfo.Data);
    string bankCardNo = CatHelper.Request("bankcard");
    string credentialNo = CatHelper.Request("idcard");
    string token = CatHelper.Request("token");
    
    if(String.IsNullOrEmpty(bankCardNo) || String.IsNullOrEmpty(credentialNo) || String.IsNullOrEmpty(token)){
        Response.Redirect("~/user/manage/reset/payment-password-1");
    }
}
@RenderPage("~/_layout/user/_Silder.cshtml", new { Data = userInfo, SilderMenu = "manage" })
<script>
    var _BankCard = "@bankCardNo";
    var _IdCard = "@credentialNo";
    var _token = "@token";
</script>
<div class="per-right payment-second-only">
    <div class="my-card-title clearfix">
        @RenderPage("~/_layout/user/_back_user.cshtml", new { name = "账户管理" })
    </div>
    <div class="my-card-main reset-login-only">
        <div class="card-pwd-name reset-login-title">
            <h2><em>重置交易密码</em><span></span></h2>
        </div>
        <div class="reset-login-forms">
            <ul class="buy-step-list payment-wrap-only">
                <li><div id="ui-msg-info" class="ui-msg"></div></li>
                <li>
                    <label class="lab">新密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" id="password" maxlength="18" class="common-text input-min">
                    </div>
                </li>
                <li>
                    <label class="lab">确认密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" id="vpassword" maxlength="18" class="common-text input-min">
                    </div>
                </li>
                <li>
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button class="btn-common ui-action" data-action="reset-payment2">确认</button><a href="javascript:;" onclick="javascript:history.go(-1);" class="back-link">返回上一步</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>