@{
    Layout = "~/_layout/base/_BaseMain.cshtml";
    string Title = Page.Title ?? "兴业银行 - 直销银行";
}<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @RenderPage("~/_layout/base/_meta.cshtml")
    <title>@Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/amp.css" />
    @RenderSection("PageStyle", required: false)
    @if(IsSectionDefined("RequireCallback")){<script>var _require_callback = function(){@RenderSection("RequireCallback")};</script>}
    @RenderPage("~/_layout/base/_scripts.cshtml")
</head>
<body>
@RenderPage("~/_layout/base/_header.cshtml")
@RenderBody()
@RenderPage("~/_layout/base/_footer.cshtml")
</body>
</html>