@using Cat
@{
    Layout = "~/_layout/passport/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/passport/reset.js'></script>");
    dynamic userInfo = Request.GetData("/UserInfo");
    string hasDefaultBankCard = userInfo.Data.HasDefaultBankCard == false ? "false" : "true";
    string loginName = userInfo.Data.HasDefaultBankCard == false ? "" : userInfo.Data.Cellphone;
    string mobile = CatHelper.Request("mobile");
}
@if(!string.IsNullOrEmpty(mobile)){
    <script>
    var _mobile = @(mobile);
    </script>
} else if(!string.IsNullOrEmpty(loginName)){
    <script>
    var _mobile = @(loginName);
    var _hasBankCard = @(hasDefaultBankCard);
    </script>
}
<div class="reset-outer reset-pwd-2">
    <div class="reset-inner">
        <div class="reset-title" id="resetTitle">
        </div>
        <div class="reset-main">
            @*<div id="reset-payment-password-step" class="reset-payment-password-step" style="display:none"></div>*@
            <div id="ui-msg-info" class="ui-msg"></div>
            <ul class="buy-step-list reset-step-list" id="reset-step-1">
                <li>
                    <label class="lab">手机号：</label>
                    <div class="buy-plan clearfix">
                        @if(!string.IsNullOrEmpty(mobile)){
                            <input type="text" class="common-text input-min" id="username" value="@mobile">
                        } else if(!string.IsNullOrEmpty(loginName)){
                            <p class="buy-name">@loginName</p>
                        } else {
                            <input type="text" class="common-text input-min" id="username">
                        }
                    </div>
                </li>
                <li>
                    <label class="lab">短信校验码：</label>
                    <div class="buy-plan clearfix">
                        <div class="buy-code">
                            <input type="button" value="获取校验码" id="getCode" class="code-btn"><input type="text" maxlength="6" class="common-text auth-code" id="code">
                        </div>
                    </div>
                </li>
                <li class="btn-li">
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button data-action="reset-step1" id="resetBtn1" class="btn-common ui-action">下一步</button><a href="#" class="ui-action back-link" data-action="prev-page">返回上一页</a>
                    </div>
                </li>
            </ul>
            <ul class="buy-step-list reset-step-list" id="reset-step-2" style="display:none">
                <li>
                    <label class="lab">登录密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" class="common-text input-min" id="password">
                    </div>
                </li>
                <li>
                    <label class="lab">确认登录密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" class="common-text input-min" id="vpassword">
                    </div>
                </li>
                <li class="btn-li">
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button data-action="reset-step2" id="resetBtn2" class="btn-common ui-action">确定</button><a href="#" class="ui-action back-link" data-action="prev-password">返回上一步</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>