@{
    Layout = "~/_layout/passport/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/payment/auth.js'></script>");
    dynamic userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
}
<script>var _addBackUrl = '/';</script>
<div class="reset-outer">
    <div class="reset-inner">
        <div class="reset-title"><h1>绑定银行卡</h1></div>
        <div class="reset-main jym-addcard">
            <div id="ui-msg-info" class="ui-msg"></div>
            <ul class="buy-step-list auth-step-list" style="margin:0 0 20px;">
                <li>
                    <div class="ui-msg"><p class="ui-warn">正在对您的账户进行认证，请填写您本人的储蓄卡信息，认证通过后才可以进行购买。</p></div>
                </li>
                <li style="padding-left:120px;">
                    <div id="ui-msg-info" class="ui-msg"></div>
                </li>
                <li style="position:relative;z-index:9;">
                    <label class="lab">开户银行：</label>
                    <div class="buy-plan clearfix">
                        <div class="ctt-xSelect" id="bankSelect">
                            <div class="ctt-xSelect-text"><em class="ctt-xSelect-bank bank-c08">兴业银行</em></div>
                            <div class="ctt-xSelect-drop"><b></b></div>
                            <div class="ctt-xSelect-span" style="display:none"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="lab">储蓄卡卡号：</label>
                    <div class="buy-plan">
                        <input class="MsgContext common-text auth-text input-max" type="text" id="ctt-bankcard" maxlength="30" />
                    </div>
                </li>
                <li>
                    <label class="lab">姓名：</label>
                    <div class="buy-plan">
                        @if(userInfo.Data.HasYSBInfo == true){
                        <div class="MsgContext common-text auth-text input-max">@userInfo.Data.YSBRealName</div>
                        <input type="hidden" id="ctt-name" value="@userInfo.Data.YSBRealName" />
                        } else {
                        <input class="MsgContext common-text auth-text input-max" type="text" id="ctt-name" maxlength="8" />
                        }
                    </div>
                </li>
                <li>
                    <label class="lab">证件类型：</label>
                    <div class="buy-plan">
                        @if(userInfo.Data.HasYSBInfo == true){
                        <div class="MsgContext common-text auth-text input-max">身份证</div>
                        <input type="hidden" id="ctt-idtype" value="0" />
                        } else {
                        <div class="ui-select">
                            <span>
                        <select id="ctt-idtype" class="auth-select">
                            <option value="0">身份证</option>
                            <option value="1">护照</option>
                            <option value="2">台湾同胞来往内地通行证</option>
                            <option value="3">军人证</option>
                        </select>
                            </span>
                        </div>
                        }
                    </div>
                </li>
                <li>
                    <label class="lab">证件号码：</label>
                    <div class="buy-plan">
                        @if(userInfo.Data.HasYSBInfo == true){
                        <div class="MsgContext common-text auth-text input-max">@userInfo.Data.YSBIdCard</div>
                        <input type="hidden" id="ctt-idcard" value="@userInfo.Data.YSBIdCard" />
                        } else {
                        <input class="MsgContext common-text auth-text input-max" type="text" id="ctt-idcard" maxlength="30" />
                        }
                    </div>
                </li>
                @RenderPage("~/_layout/payment/paymentPwd.cshtml")
                <li>
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan">
                        <div class="argee-live">
                            <label class="yetlab">我已经同意<a href="/deal/open" target="_blank">《认证快付开通协议》</a><a href="/deal/personal-register" target="_blank">《个人注册协议》</a></label>
                        </div>
                        <button id="btnAuth" class="ui-action btn-common" data-action="bind-bank-card">立即认证</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>









