@{
    Layout = "~/_layout/base/_BaseMain.cshtml";
    string Title = Page.Title ?? "开通协议";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/deal.js'></script>");

}<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @RenderPage("~/_layout/base/_meta.cshtml")
    <title>@Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/deal.css" />
    @if(IsSectionDefined("RequireCallback")){<script>var _require_callback = function(){@RenderSection("RequireCallback")};</script>}
    @RenderPage("~/_layout/base/_scripts.cshtml")
</head>
<body>
@RenderPage("~/_layout/base/_user_header.cshtml")
@RenderBody()
@RenderPage("~/_layout/base/_footer.cshtml")
</body>
</html>