<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @RenderPage("~/_layout/base/_o_code.cshtml", new{ Type = "loadtime" })
    @RenderPage("~/_layout/base/_meta.cshtml")
    @{
    var Title = @PageData["Title"] ?? "金银猫 - 大金融心服务";
    }
    <title>@Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/user.css" />
    @RenderSection("PageStyle")
    @if(IsSectionDefined("RequireCallback")){<script>var _require_callback = function(){@RenderSection("RequireCallback")};</script>}
    @RenderPage("~/_layout/base/_scripts.cshtml")
</head>
<body>
@RenderPage("~/_layout/base/_header.cshtml")
@RenderBody()
@RenderPage("~/_layout/base/_footer.cshtml")
</body>
</html>